:host {
    width: 325px;
    display: block;
}

p.description {
    min-height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

img.specie {
    height: 200px;
    width: 250px;
    border-radius: 1.5rem;
    border: none;
    object-fit: cover;
}
